@using Microsoft.AspNetCore.Components.Routing;

<NavLink class="nav-link" href="/register">
    <span class="oi oi-plus" aria-hidden="true"></span> Registrarse
</NavLink>

<NavLink class="nav-link" href="/login">
    <span class="oi oi-lock-locked" aria-hidden="true"></span> Login
</NavLink>

<NavLink class="nav-link" href="/consultar-usuario">
    <span class="oi oi-person" aria-hidden="true"></span> Mi Perfil
</NavLink>
